
body {
    background-color: rgba(151, 151, 151, 0.637);
    padding-left: 10%;
    font-family: Arial, Helvetica, sans-serif;
    cursor: vertical-text;
    max-width: 100%;
    min-width: 75%;
    font-weight: 100;
}



h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size:48px ;
    font-style: normal;
    font-weight: 100;
    text-align: left;
    margin-left: -4px;
    
    
    
    
    }

    h2, p {
        font-size: 24px;
        font-weight: 100;
    }



    @media only screen and (min-width: 80px) {

    p {
        letter-spacing: 1px;
        
    }

    h1 {
        letter-spacing:3px;

    }

    ul {
        letter-spacing: 1px;
    }

    li {
        
        padding: 0px 15px;
        padding-left: 0px; 
           
    }
    

}

@media only screen and (min-width: 500px) {

    p {
        letter-spacing: 2.5px;
        
    }

    h1 {
        letter-spacing:7.5px;

    }

    h2 {
        letter-spacing: 3.75px;
    }

  
    

}


@media only screen and (min-width: 1000px) {

    p {
        letter-spacing: 5px;
        
    }

    h1 {
        letter-spacing: 15px;

    }

    h2 {
        letter-spacing: 7.5px;
    }

  

}

@media only screen and (min-width: 1500px) {

    p {
        letter-spacing: 26px;
        font-size: 33px;
    }

    h1 {
        letter-spacing: 60px;
        font-size: 72px;
    }

    h2 {
        letter-spacing: 16px;
        font-size: 36px;
    }
   
   
}

audio {
    filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
    width: 600px;
    height: 25px;
}

img {
padding: 0;
margin: 0;
}